<!-- Page Header Start -->
<div class="container-fluid page-header py-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container text-center py-5">
    <h1 class="display-2 text-white mb-4">Sign Up</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a ></li>
        <li class="breadcrumb-item text-white" aria-current="page">Signup </li>
      </ol>
    </nav>
  </div>
</div>
<!-- Page Header End -->



<!-- You are ?-->
<div class="container my-5">
  <h1 class="text-center mb-4">You Are?</h1>
  <div class="row justify-content-center align-items-center">
    <div class="col-6 col-md-4 text-center">
      <img src="/assets/img/nounou.jpg" alt="Nounou" class="img-fluid mb-2" style="max-height:150px;">
      <div>
        <a routerLink="/signupNounou" class="btn btn-outline-primary">Nanny</a>
      </div>
    </div>
    <div class="col-6 col-md-4 text-center">
      <img src="/assets/img/parent.jpg" alt="Parent" class="img-fluid mb-2" style="max-height:150px;">
      <div>
        <a routerLink="/signupParent" class="btn btn-outline-secondary">Parent</a>
      </div>
    </div>
  </div>
</div>
<!-- You are ?-->
